{% extends 'PcNation/base.html' %}
{% load static %}
{% block title %}Service{% endblock title %}

{% block body %} 

<!-- Services -->
<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="color: #D22B2B;">Services</h2>
          <h3 class="section-subheading text-muted" style="color: #FFF;">
            Experience a new level of performance with an award-winning Digital Storm PC. Built with the latest technology, highest quality components and backed by lifetime support.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i style="color: #D22B2B;" class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" style="color: #D22B2B;">SUPPORT</h4>
          <p class="text-muted">Every purchase comes with lifetime expert support by our in-house technicians. Our team strives to resolve any issue with your gaming computer as quickly and efficiently as possible. As a commitment to our dedication in helping our customers, Digital Storm is rated an A+ from the BBB for over 10+ years since we’ve been in business. We imagine the situation from the customer’s shoes, and treat them just like we would want ourselves to be treated.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary" style="color: #D22B2B;"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" style="color: #D22B2B;">PERFORMANCE</h4>
          <p class="text-muted">Putting together a custom gaming pc is only part of the process, our expert technicians are obsessed with squeezing every ounce of performance from our computers. Anyone can put a system together by attaching parts, however to unlock maximum performance, factors such as: the wiring job, chassis airflow, power delivery, and layout of components represent the core foundation of a true custom PC.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" style="color: #D22B2B;">TESTING</h4>
          <p class="text-muted">High-performance hardware needs to be properly tested for bottlenecks and stability issues. Our team of technicians test every custom gaming computer with a series of stress-tests and benchmarks that analyze the processor, memory, graphics cards, storage, and even the power supply. Once the gaming PC passes these tests, a second technician verifies them before sending the computer to our quality assurance team.</p>
        </div>
      </div>
    </div>
</section>

{% endblock body %}
